@import url('https://fonts.googleapis.com/css2? family= Nerko+One & display=swap');
body{font-family: 'Nerko One' !important}

@mixin TX {display: flex; justify-content: center; font-size: 20px; color: white;}
.BT__S{display: flex; flex-direction: row; justify-content: space-around; align-items: center;}

.Main__S{display: flex; flex-direction: row; justify-content: center; align-items: center;}

@media(max-width:768px){
    .Tit__1{font-size: 50px;}
    .Tit__2{font-size: 25px; color: white;} 
    .FL{display: none;}
    .Main__I--2{display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .QS{font-size: 40px;  color: aqua; display: flex; justify-content: center; align-items: center;}
    .Main__S{display: flex; flex-direction: column;justify-content: center; align-items: center;}
    .BT__S{display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .Con__M{display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .Cont{display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .M__CL{display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .Cl__M{display: flex; flex-direction: column; justify-content: center;}


}