@import url('https://fonts.googleapis.com/css2? family= Nerko+One & display=swap');
body{font-family: 'Nerko One' !important}

.Logo__Header{width: 80px; height: 80px;}

.Header{background-color:#557153;}
.Footer{background-color: #6aa565; margin-top: 20px;  padding: 10px;}
.Footer__2{background-color: #6aa565; margin-bottom: 20px; padding: 10px;}
.Img__Footer{width: 50px; height: 50px;}
.Logo__Footer{width: 20px; height: 20px;}